.header{
    padding:5%;
    font-family: cursive;
    font-size: x-large;
    font-weight:bolder;
    padding-bottom: 0;
}

.div
{
    color:royalblue;
    text-align: left;
    padding:50px;
    padding-bottom: 0;
    text-justify: auto;
    font-family: 'Times New Roman', Times, serif;
    font-size:large;
}